.container {
  font-family: sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heightSection input,
.weightSection input {
  width: 5rem;
  padding: 0.3rem;
  font-size: 1rem;
}

.buttonSection {
  margin: 1rem;
}
.buttonSection button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.cardSection {
  border: 0.5rem solid black;
  border-radius: 1rem;
  width: 20rem;
  padding: 1rem;
  background-color: #deb887;
}

.initialBanner h1 {
  margin: 0;
  text-align: center;
}

.bmiBanner h1,
.bmiBanner h2 {
  margin: 0;
  text-align: center;
}
