.container {
  font-family: sans-serif;
  font-size: 1rem;
  max-width: 40rem;
  width: 100%;
  margin: 2rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
}

.tabButtons {
  padding: 1rem 2rem;
  border: none;
  background-color: #add8e6;
  color: #fff;
  cursor: pointer;
}

.tabButtons:first-child {
  border-top-left-radius: 1rem;
}

.active {
  background-color: #4747e8;
  color: #fff;
}
.selectedTab {
  padding: 1rem;
}
