.container {
  font-family: sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputSection textarea {
  width: 35rem;
  height: 9rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.infoSection {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin: 2rem;
}

.infoSection p {
  margin: 0;
}

.infoSection button {
  padding: 0.5rem 0.8rem;
  border: 0;
  background-color: #333;
  color: #fff;
  border-radius: 0.2rem;
}
