.container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}
.container h1 {
  margin: 0;
}
.container p {
  font-size: 1.2rem;
}

.answerBtn {
  display: flex;
  gap: 1rem;
}

.container button {
  padding: 0.6rem 1.2rem;
  border: 0;
  font-size: 1rem;
  font-weight: 500;
  background-color: #007bff;
  color: #fff;
  border-radius: 0.2rem;
  cursor: pointer;
}
