.container {
  font-family: sans-serif;
}

.buttonSection {
  display: flex;
  justify-content: center;
}

.buttonSection button {
  padding: 0.5rem 1rem;
}

.buttonSection p {
  margin: 0.5rem 1rem;
}

.headerSection {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10rem;
}

table {
  margin: 0 auto;
  text-align: center;
}
table th,
table td {
  padding: 10px 12px;
  border-bottom: 1px solid #ddd;
}
