.container {
  font-family: sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer input {
  width: 20rem;
  height: 1.8rem;
  font-size: 1.5rem;
}

.container p {
  font-size: 1.2rem;
}
