.container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container input {
  text-align: center;
  outline: none;
  width: 10rem;
  padding: 0.2rem;
  margin-bottom: 1rem;
}

.btnGroup {
  display: flex;
  gap: 1rem;
}

.btnGroup button {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
}
