.container {
  font-family: sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContainer {
  width: 35rem;
  border: 1px solid gray;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
}

.modalHeader h2 {
  margin: 0;
}

.modalHeader button {
  background-color: #fff;
  border: 1px solid gray;
  cursor: pointer;
}

.modalFooter {
  display: flex;
  justify-content: end;
}

.modalFooter button {
  padding: 0.5rem;
  cursor: pointer;
}

.backdropBackground {
  background: rgba(0, 0, 0, 0.5);
}
