.container {
  font-family: sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.lightContainer {
  width: 6rem;
  background-color: black;
  height: 16rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.light {
  background-color: gray;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.redLight {
  background-color: red;
}

.yellowLight {
  background-color: yellow;
}

.greenLight {
  background-color: green;
}

.timer {
  font-weight: bold;
}
