.container {
  font-family: sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer input {
  padding: 0.3rem;
  font-size: 1.1rem;
  width: 20rem;
}

.passwordIndicators {
  display: flex;
  color: gray;
  gap: 1rem;
}

.passwordIndicatorsActive {
  color: green;
}

.passwordScoreBar {
  width: 20rem;
  height: 8px;
  background-color: #e5e7eb; /* light gray */
  border-radius: 6px;
  overflow: hidden;
}
.barFill {
  height: 100%;
  transition:
    width 0.3s ease,
    background-color 0.3s ease;
}

.greenColor {
  background: green;
}

.orangeColor {
  background: orange;
}

.redColor {
  background: red;
}
