.container {
  font-family: sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  margin-bottom: 1rem;
}

.inputContainer input {
  padding: 0.5rem 1rem;
  width: 20rem;
}

.buttonSection {
  display: flex;
  gap: 1rem;
}

.buttonSection button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
  background-color: #007bff;
  color: #fff;
}

.textContainer {
}
