.container {
  font-family: sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputSection textarea {
  width: 28rem;
  height: 4rem;
  margin-bottom: 1rem;
}

.buttonSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.buttonSection button {
  padding: 0.5rem 2rem;
}
