.container {
  font-family: sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.size-container {
  display: flex;
  border: 1px solid #dcd5c8;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.size-container button {
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

.size-container .selected {
  color: #fff;
  background: #6a604f;
  border-radius: 0.2rem;
}

.size-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  color: #666;
}
