.container {
  font-family: sans-serif;
  font-size: 1rem;
}

.toastContainer {
  max-width: 25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toastContainer select {
  width: 100%;
  padding: 0.5rem 0.2rem;
}

.textContainer input {
  width: 98%;
  padding: 0.5rem 0.2rem;
}

.durationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.buttonContainer button {
  background-color: #0d6efd;
  color: #fff;
  border: none;
  padding: 0.7rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.toastMessage {
  padding: 0.5rem;
  border: 1px solid gray;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.toastMessage span {
  margin-right: 1rem;
}

.left {
  left: 1rem;
}
.top {
  top: 1rem;
}
.right {
  right: 1rem;
}

.bottom {
  bottom: 1rem;
}

.toastMessage button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.success {
  background-color: hsl(143, 85%, 96%);
  color: hsl(140, 100%, 27%);
  border: 1px solid hsl(145, 92%, 91%);
}

.success button {
  background-color: hsl(143, 85%, 96%);
  color: hsl(140, 100%, 27%);
}

.error {
  background-color: hsl(359, 100%, 97%);
  color: hsl(360, 100%, 45%);
  border: 1px solid hsl(359, 100%, 94%);
}

.error button {
  background-color: hsl(143, 85%, 96%);
  color: hsl(360, 100%, 45%);
}

.warning {
  background-color: hsl(49, 100%, 97%);
  color: hsl(31, 92%, 45%);
  border: 1px solid hsl(49, 91%, 91%);
}

.warning button {
  background-color: hsl(49, 100%, 97%);
  color: hsl(31, 92%, 45%);
}

.info {
  background-color: hsl(208, 100%, 97%);
  color: hsl(210, 92%, 45%);
  border: 1px solid hsl(221, 91%, 91%);
}

.info button {
  background-color: hsl(208, 100%, 97%);
  color: hsl(210, 92%, 45%);
}
