.container {
  font-family: sans-serif;
  font-size: 1rem;
}

.toastContainer {
  max-width: 25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toastContainer select {
  width: 100%;
  padding: 0.5rem 0.2rem;
}

.textContainer input {
  width: 98%;
  padding: 0.5rem 0.2rem;
}

.durationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.buttonContainer button {
  background-color: #0d6efd;
  color: #fff;
  border: none;
  padding: 0.7rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.toastMessage {
  padding: 0.5rem;
  border: 1px solid gray;
  position: absolute;
  background-color: #fff;
}
.toastMessage span {
  margin-right: 1rem;
}

.left {
  left: 1rem;
}
.top {
  top: 1rem;
}
.right {
  right: 1rem;
}

.bottom {
  bottom: 1rem;
}
