.container {
  font-family: sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colorContainer {
  width: 90%;
  height: 10rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #fff;
}

.colorInputContainer {
  margin: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.colorInputContainer input {
  padding: 0;
  border: none;
  width: 3rem;
  height: 3rem;
}

.colorButton button {
  padding: 0.4rem 0.8rem;
  border: none;
  color: #fff;
  background-color: rgb(255, 87, 51);
  cursor: pointer;
  border-radius: 0.2rem;
}
